.header {
   padding: 50px;
   text-align: center;
   background: #008B8B; 
   font-size: 40px;
   font-family: Lucida Sans;
}
.main {
    background: #228B22;
    padding: 120px;
    font-size: 50px;
    color: gold;
    font-family: luciada sans;
    text-align: center;
}